.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.accordion-button:focus {
    box-shadow: none !important;
    border-color: inherit !important;

}
body {
  transition: all 0.8s ease-in-out;
}
.alert-box {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.8s ease-in-out;
}

/* show state */
.alert-box.show {
  opacity: 1;
  transform: translateY(0);
}
body.dark textarea::placeholder {
  color: white;
}

body.light textarea::placeholder {
  color: black;
}
.navbar {
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}